.context-menu {
  display: none;
  position: fixed;
  width: 140px;
  box-shadow: 2px 2px 9px #aaa;
  overflow: hidden;
  border: solid 1px #aaa;
}

.context-menu > div {
  padding: 10px;
  background: #eee;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 11pt;
}

.context-menu > div:last-of-type {
  border-bottom: none;
}

.context-menu > div:hover {
  background: #fff;
}

.context-menu.show {
  display: block;
}
