.context-menu {
  display: none;
  position: fixed;
  overflow: hidden;
  width: 140px;
  border: 1px solid var(--background3);
  box-shadow: 1px 1px 3px var(--foreground3);
}

.context-menu > div {
  padding: 10px;
  background: var(--background1);
  border-bottom: 1px solid var(--background3);
  font-size: 11pt;
  color: var(--foreground2);
  cursor: pointer;
}

.context-menu > div:last-of-type {
  border-bottom: none;
}

.context-menu > div:hover {
  background: var(--background3);
}

.context-menu.show {
  display: block;
}
