/* width and height */
::-webkit-scrollbar {
  width: var(--scrollBarSize);
  height: var(--scrollBarSize);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background3);
}
