@use 'aside';
@use 'footer';
@use 'window';
@use 'contextMenu';
@use 'variables';
@use 'scrollBar';
@use 'syntax';

@use 'font';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // TODO fix: font is not loading
  font-family: 'Roboto', Arial, 'Fira Code iScript';
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-areas:
    'menu header header header'
    'menu main main main'
    'footer footer footer footer';
  background-color: var(--background1);
  overflow: hidden;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    user-select: none;
  }
}

.drag-over {
  background-color: var(--background2);
}

.over {
  opacity: 0.5;
}
