main {
  grid-area: main;
  height: calc(100vh - var(--footerHeight) - var(--navHeight));
  font-size: var(--mainFontSize);
  text-align: left;
  background-color: var(--background1);
  color: var(--foreground2);
  overflow: hidden;

  .editor {
    font-family: 'Roboto';
    font-size: var(--editorFontSize);
    outline: none;
    overflow-y: auto;
    padding-left: var(--editorLineCounterWidth);
    counter-reset: line;
    height: 100%;
    margin-top: 0.5rem;

    div {
      display: block;
      position: relative;
      white-space: pre-wrap;

      &::before {
        content: counter(line);
        counter-increment: line;
        position: absolute;
        right: calc(100% + 16px);
        opacity: 0.5;
      }
    }
  }
}
