nav {
  grid-area: header;
  background-color: var(--background1);
  color: var(--foreground2);
  height: calc(var(--navHeight) - var(--scrollBarSize));
  user-select: none;
  overflow-y: hidden;

  .opened-tabs {
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x: scroll;

    height: 100%;
    width: 100%;

    .tab {
      display: inline-block;
      cursor: pointer;
      font-size: var(--navFontSize);
      margin: 0 calc(var(--navFontSize) / 4);

      .active {
        border-bottom: 2px solid var(--background3);

        .file__close {
          opacity: 1;
        }
      }

      &:hover .file__close {
        opacity: 1;
        transition: var(--transitionTime);
      }

      .file__close {
        border-radius: 5px;
        opacity: 0;

        &:hover {
          background-color: var(--background3);
          color: var(--foreground2);
          transition: var(--transitionTime);
        }
      }
    }
  }
}
