aside {
  grid-area: menu;
  background-color: var(--background1);
  color: var(--foreground1);
  min-width: var(--asideMinWidth);
  width: var(--asideWidth);
  overflow-x: scroll;

  .menu-container {
    display: flex;

    .menu {
      width: var(--asideMenuItemSize);
      height: calc(100vh - var(--footerHeight));
      border-right: 1px solid var(--background3);

      &__item {
        height: var(--asideMenuItemSize);
        line-height: var(--asideMenuItemSize);
        font-size: var(--asideMenuItemFontSize);
        text-align: center;
        color: var(--foreground1);
        transition: var(--transitionTime);
        cursor: pointer;

        &:hover {
          color: var(--foreground1);
          fill: black;
        }

        svg {
          stroke: none;
          fill-rule: nonzero;
          fill: var(--foreground1);
          fill-opacity: 1;
        }
      }

      .active {
        border-left: 3px solid var(--foreground2);
        color: var(--foreground2);

        svg {
          fill: var(--foreground2);
        }
      }
    }

    .content {
      width: 100%;
      height: calc(100vh - var(--footerHeight));
      border-right: 1px solid var(--background3);

      .file-struct {
        margin: 1em;

        .dir,
        ul {
          list-style-type: none;
          margin-left: 20px;
          color: var(--foreground2);
        }

        .dir {
          margin: 0;
          padding: 0;

          .caret {
            cursor: pointer;
            user-select: none;

            &::before {
              content: '\25B6';
              color: var(--foreground2);
              display: inline-block;
              margin-right: 6px;
              font-size: 12px;
            }
          }

          .caret-down::before {
            transform: rotate(90deg);
          }

          .nested {
            display: none;
          }

          .active {
            display: block;
          }
        }
      }
    }
  }
}
