aside {
  grid-area: menu;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 200px;

  .menu-container {
    display: flex;

    .menu {
      width: 50px;
      height: calc(100vh - 1em);

      li {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        text-align: center;

        cursor: pointer;
      }
    }

    .content {
      width: 100%;
      height: calc(100vh - 1em);

      .file-struct {
        .dir,
        ul {
          list-style-type: none;
          margin-left: 10px;
        }

        .dir {
          margin: 0;
          padding: 0;

          .caret {
            cursor: pointer;
            user-select: none;

            &::before {
              content: '\25B6';
              color: black;
              display: inline-block;
              margin-right: 6px;
            }
          }

          .caret-down::before {
            transform: rotate(90deg);
          }

          .nested {
            display: none;
          }

          .active {
            display: block;
          }
        }
      }
    }
  }
}
