footer {
  grid-area: footer;
  background-color: var(--background1);
  height: var(--footerHeight);
  font-size: var(--footerFontSize);
  display: flex;
  align-items: flex-end;
  user-select: none;
  margin-top: -8px;

  .dummy {
    flex-grow: 1;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: calc(var(--footerItemPaddingHor) / 4) var(--footerItemPaddingHor);
      transition: var(--transitionTime);
      color: var(--foreground1);
      cursor: pointer;

      &:hover {
        color: var(--foreground2);
        background-color: var(--background2);
      }

      select {
        appearance: none;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--foreground1);
        cursor: pointer;
        width: 5ch;
        margin-right: calc(-5ch + var(--footerItemPaddingHor));

        option {
          white-space: normal;
          outline-color: var(--background2);
          width: 15ch;
        }
      }
    }
  }
}
