footer {
  grid-area: footer;
  background-color: rgba(255, 255, 255, 0.8);

  height: 1em;
  padding: 0;
  font-size: 14px;

  display: flex;
  align-items: flex-end;

  .dummy {
    flex-grow: 1;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}
